<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi=medium-dpi">
    <title>[컴포넌트] 여행지 카드</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/components.css">    
</head>
<body>
    <article id="articleCardSpot" class="article_card_spot" data-select="type_default">
        <!-- <strong class="title_card_spot">여행코스</strong> -->
        <div class="group_card_spot">
            <ul class="list_card">
                <li class="item" data-value="4600">
                    <span class="thumb" style="background-image:url(./img/spot/thumb_peacewall.jpeg)"></span>
                    <div class="desc">
                        <div class="part_title">
                            <div class="list_rating">
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                            </div>
                            <em class="spot_name">평화의 벽</em>
                            <span class="spot_origin_name">Peace of wall</span>
                        </div>
                        <a href="#" class="button_add_course" role="button">
                            <i class="icon_plus"></i>
                            <span class="text">경로추가</span>
                        </a>
                    </div>
                </li>
                <li class="item" data-value="5100">
                    <span class="thumb" style="background-image:url(./img/spot/thumb_chaillot.jpeg)"></span>
                    <div class="desc">
                        <div class="part_title">
                            <div class="list_rating">
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                            </div>
                            <em class="spot_name">샤이요 궁</em>
                            <span class="spot_origin_name">Palais de Chaillot</span>
                        </div>
                        <a href="#" class="button_add_course" role="button">
                            <i class="icon_plus"></i>
                            <span class="text">경로추가</span>
                        </a>
                    </div>
                </li>
                <li class="item" data-value="5100">
                    <span class="thumb" style="background-image:url(./img/spot/thumb_birhakeim.jpeg)"></span>
                    <div class="desc">
                        <div class="part_title">
                            <div class="list_rating">
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                            </div>
                            <em class="spot_name">비르하켐 다리</em>
                            <span class="spot_origin_name">Pont de Bir-Hakeim</span>
                        </div>
                        <a href="#" class="button_add_course" role="button">
                            <i class="icon_plus"></i>
                            <span class="text">경로추가</span>
                        </a>
                    </div>
                </li>
                <li class="item" data-value="5800">
                    <span class="thumb" style="background-image:url(./img/spot/thumb_rodin.jpeg)"></span>
                    <div class="desc">
                        <div class="part_title">
                            <div class="list_rating">
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                            </div>
                            <em class="spot_name">로댕 박물관</em>
                            <span class="spot_origin_name">Musée Rodin</span>
                        </div>
                        <a href="#" class="button_add_course" role="button">
                            <i class="icon_plus"></i>
                            <span class="text">경로추가</span>
                        </a>
                    </div>
                </li>
                <li class="item" data-value="10000">
                    <span class="thumb" style="background-image:url(./img/spot/thumb_triomphe.jpeg)"></span>
                    <div class="desc">
                        <div class="part_title">
                            <div class="list_rating">
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                            </div>
                            <em class="spot_name">개선문</em>
                            <span class="spot_origin_name">Triumphal Arch</span>
                        </div>
                        <a href="#" class="button_add_course" role="button">
                            <i class="icon_plus"></i>
                            <span class="text">경로추가</span>
                        </a>
                    </div>
                </li>

            </ul>
        </div>
    </article>
</body>
</html>