<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi=medium-dpi">
    <title>[컴포넌트] 여행코스</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/components.css">    
</head>
<body>
    <article class="article_course" data-select="type_default">
        <strong class="title_course">여행코스</strong>
        <div class="group_course">
            <div class="list_course">
                <a href="#" class="item">
                    <i class="icon_circle">1</i>
                    <em>에펠탑</em>
                </a>
                <!-- <a href="#" class="item">
                    <i class="icon_circle">1</i>
                    <em>에펠탑</em>
                </a>
                <a href="#" class="item">
                    <i class="icon_circle">2</i>
                    <em>평화의 벽</em>
                </a>
                <a href="#" class="item">
                    <i class="icon_circle">3</i>
                    <em>비르하켐다리</em>
                </a>
                <a href="#" class="item">
                    <i class="icon_circle">3</i>
                    <em>비르하켐다리</em>
                </a>
                <a href="#" class="item">
                    <i class="icon_circle">3</i>
                    <em>비르하켐다리</em>
                </a>
                <a href="#" class="item">
                    <i class="icon_circle">3</i>
                    <em>비르하켐다리</em>
                </a> -->
            </div>
        </div>
    </article>
</body>
</html>