<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi=medium-dpi">
    <title>[컴포넌트] 사이드바</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/components.css">    
</head>
<body>
    <div class="aside is_active">
        <div class="header">
            <a href="#" class="icon_hamburger"></a>
            <strong class="title_header"><span class="blind">여행코스</span></strong>
        </div>
        <div class="artitcle_menu">
            <div class="list_menu">
                <a href="#" class="item">나라선택</a>
                <a href="#" class="item">여행스타일 선택</a>
                <a href="#" class="item">대표관광지 선택</a>
            </div>
        </div>
        <a href="#" class="icon_close_aside"></i>        
    </div>
</body>
</html>