// Sprites Map
$sp_common: (
	type: 'svg',
	ratio: 1,
	name: 'sp_common',
	width: 437px,
	height: 354px,
	image: '../img/sp_common.svg',
	padding_x: 0,
	padding_y: 0,
	sprites: (
	    button_now: (
		    offset-x: -365px,
		    offset-y: -190px,
		    width: 53px,
		    height: 53px,
	    ),
		    button_now_active: (
		    offset-x: -82px,
		    offset-y: -266px,
		    width: 53px,
		    height: 53px,
	    ),
		    button_rest: (
		    offset-x: -365px,
		    offset-y: -243px,
		    width: 53px,
		    height: 53px,
	    ),
		    button_rest_active: (
		    offset-x: -135px,
		    offset-y: -266px,
		    width: 53px,
		    height: 53px,
	    ),
		    button_view: (
		    offset-x: -365px,
		    offset-y: -84px,
		    width: 53px,
		    height: 53px,
	    ),
		    button_view_active: (
		    offset-x: -365px,
		    offset-y: -137px,
		    width: 53px,
		    height: 53px,
	    ),
		    graph_info: (
		    offset-x: 0px,
		    offset-y: -90px,
		    width: 233px,
		    height: 90px,
	    ),
		    graph_info_2: (
		    offset-x: 0px,
		    offset-y: 0px,
		    width: 233px,
		    height: 90px,
	    ),
		    icon_arrow_aside: (
		    offset-x: -418px,
		    offset-y: -137px,
		    width: 18px,
		    height: 18px,
	    ),
		    icon_close_aside: (
		    offset-x: -423px,
		    offset-y: -64px,
		    width: 14px,
		    height: 15px,
	    ),
		    icon_filter: (
		    offset-x: -228px,
		    offset-y: -180px,
		    width: 93px,
		    height: 35px,
	    ),
		    icon_incline: (
		    offset-x: 0px,
		    offset-y: -328px,
		    width: 26px,
		    height: 26px,
	    ),
		    icon_map_indi: (
		    offset-x: -188px,
		    offset-y: -266px,
		    width: 40px,
		    height: 51px,
	    ),
		    icon_map_indi_now: (
		    offset-x: 0px,
		    offset-y: -246px,
		    width: 82px,
		    height: 82px,
	    ),
		    icon_navigate: (
		    offset-x: -418px,
		    offset-y: -155px,
		    width: 16px,
		    height: 16px,
	    ),
		    icon_person_normal: (
		    offset-x: -228px,
		    offset-y: -266px,
		    width: 33px,
		    height: 43px,
	    ),
		    icon_person_tired: (
		    offset-x: -261px,
		    offset-y: -266px,
		    width: 33px,
		    height: 42px,
	    ),
		    icon_plus: (
		    offset-x: -430px,
		    offset-y: -90px,
		    width: 5px,
		    height: 6px,
	    ),
		    icon_plus_white: (
		    offset-x: -430px,
		    offset-y: -84px,
		    width: 5px,
		    height: 6px,
	    ),
		    icon_prev_page: (
		    offset-x: -418px,
		    offset-y: -84px,
		    width: 12px,
		    height: 21px,
	    ),
		    icon_rest: (
		    offset-x: -321px,
		    offset-y: -180px,
		    width: 35px,
		    height: 35px,
	    ),
		    icon_search: (
		    offset-x: -418px,
		    offset-y: -105px,
		    width: 19px,
		    height: 19px,
	    ),
		    icon_sort: (
		    offset-x: -365px,
		    offset-y: -296px,
		    width: 47px,
		    height: 13px,
	    ),
		    icon_spot_map: (
		    offset-x: -294px,
		    offset-y: -266px,
		    width: 25px,
		    height: 26px,
	    ),
		    icon_spot_map_active: (
		    offset-x: -319px,
		    offset-y: -266px,
		    width: 25px,
		    height: 26px,
	    ),
		    icon_star: (
		    offset-x: -418px,
		    offset-y: -171px,
		    width: 9px,
		    height: 8px,
	    ),
		    icon_triumph: (
		    offset-x: -365px,
		    offset-y: 0px,
		    width: 72px,
		    height: 64px,
	    ),
		    iocn_hamburger: (
		    offset-x: -418px,
		    offset-y: -124px,
		    width: 18px,
		    height: 12px,
	    ),
		    layer_incline_1: (
		    offset-x: -114px,
		    offset-y: -180px,
		    width: 114px,
		    height: 66px,
	    ),
		    layer_incline_1_active: (
		    offset-x: 0px,
		    offset-y: -180px,
		    width: 114px,
		    height: 66px,
	    ),
		    layer_incline_2: (
		    offset-x: -233px,
		    offset-y: 0px,
		    width: 132px,
		    height: 68px,
	    ),
		    layer_incline_2_active: (
		    offset-x: -233px,
		    offset-y: -68px,
		    width: 132px,
		    height: 68px,
	    ),
		    title_header_aside: (
		    offset-x: -228px,
		    offset-y: -215px,
		    width: 78px,
		    height: 20px,
	    ),
		    title_header_attraction: (
		    offset-x: -233px,
		    offset-y: -156px,
		    width: 95px,
		    height: 20px,
	    ),
		    title_header_effiel: (
		    offset-x: -365px,
		    offset-y: -64px,
		    width: 58px,
		    height: 20px,
	    ),
		    title_header_style: (
		    offset-x: -233px,
		    offset-y: -136px,
		    width: 96px,
		    height: 20px,
	    ),
		    title_index: (
		    offset-x: -82px,
		    offset-y: -246px,
		    width: 76px,
		    height: 20px,
	    ),
	)
);